{% extends base %}

{% block preamble %}
{{ super() }}

<!-- Global stylesheets -->
<link href="{{ base_url }}/assets/fonts/inter/inter.css" rel="stylesheet" type="text/css">
<link href="{{ base_url }}/assets/icons/phosphor/styles.min.css" rel="stylesheet" type="text/css">
<link href="{{ base_url }}/assets/css/ltr/all.min.css" id="stylesheet" rel="stylesheet" type="text/css">
<!-- /global stylesheets -->
{% endblock %}

{% block postamble %}
{{ super() }}
<script src="{{ base_url }}/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
<script src="{{ base_url }}/assets/js/app.js"></script>
{% endblock %}

{% block contents %}
<!-- Main navbar -->
<div class="navbar navbar-expand-lg navbar-static shadow">
    <div class="container-fluid">
        <div class="navbar-brand gap-3">
            <a href="default_layout.html" class="d-inline-flex align-items-left">
                <!-- <img src="{{ base_url }}/assets/img/favicon.ico" alt=""> -->
                <img src="{{ base_url }}/assets/img/favicon_catalyst.ico" alt="Catalyst" style="height: 30px; width: auto;">
            </a>
            <span class="fw-bold fs-5 text-dark">Blue Bird Bus</span>
        </div>
    </div>
</div>
<!-- /main navbar -->

<!-- Navigation -->
<div class="navbar sticky-top shadow">
    <div class="container-fluid">
        <div class="flex-fill overflow-auto overflow-lg-visible scrollbar-hidden">
            <ul class="nav gap-1 flex-nowrap flex-lg-wrap">
                <li class="nav-item">
                    <a href="#" class="navbar-nav-link dropdown-toggle rounded" data-bs-toggle="dropdown">
                        Monitor folder
                    </a>

                    <div class="dropdown-menu start-0 end-0 p-3 mx-md-3">
                        <div class="row">
                            <div class="col-md-4 mb-3 mb-md-0">
                                <div class="mb-3 mb-md-0">
                                    <a href="BOM_Management" class="dropdown-item rounded">BOM Management</a>
                                    <a href="Monitor_folder" class="dropdown-item rounded">Monitor folder</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- /navigation -->

<!-- Page header -->
<div class="page-header">
    <div class="page-header-content d-lg-flex">
        <div class="d-flex">
            {% block header %}
            {{ embed(roots.header) }}
            {% endblock %}
        </div>
    </div>
</div>
<!-- /page header -->


<!-- Page content -->
<div class="page-content pt-0">
    <div class="content-wrapper">
        <div class="content">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0 text-center">Monitor folder</h5>
                </div>
                <div class="card-body pb-0">
                    {% block Monitor_folder %}
                    {{ embed(roots.Monitor_folder) }}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
